
asgiref==3.7.2
Django==4.2.1
pip==23.3.1
setuptools==65.5.0
sqlparse==0.4.4
tzdata==2023.3
beautifulsoup4==4.12.2
bootstrap4==0.1.0
django-bootstrap4==23.1
django-crispy-forms==1.13.0
packaging==23.1
python-dateutil==2.8.2
whitenoise==6.6.0
six==1.16.0
```

