<!-- templates/about.html -->

{% extends 'core/base.html' %}

{% block content %}

 <div class="container">
  <h1>About Sports Guide Plus</h1>
  <p>Sports Guide Plus is the ultimate destination for sports enthusiasts. We are dedicated to providing the latest news, in-depth analysis, and thrilling updates from the world of sports.</p>
  <p>With our passion for sports and commitment to delivering high-quality content, we keep you informed and entertained every step of the way. Our team of expert writers and analysts work tirelessly to bring you captivating articles, engaging videos, and exclusive interviews with your favorite athletes.</p>
  <p>From the adrenaline-fueled action on the field to the strategies behind each play, we dive deep into the heart of every sport. Whether you're a fan of football, basketball, tennis, or any other sport, Sports Guide Plus has you covered.</p>
  <p>Join our community of sports enthusiasts and stay connected with us on social media. Follow us on Instagram, Facebook, and TikTok to get behind-the-scenes access, thrilling highlights, and interactive content that will ignite your passion for sports.</p>
  <p>At Sports Guide Plus, we believe that sports have the power to unite, inspire, and create unforgettable moments. Join us on this exhilarating journey and experience the thrill of sports like never before.</p>
      <span class="about-links ">
        <p>
          Join our community and stay updated with the latest sports news and trends!
        </p>
        <p><a href="https://www.youtube.com/@sportsguideplus" target="_blank"><i class="bi bi-youtube"></i> YouTube</a></p>
        <p><a href="https://www.instagram.com/sportsguideplus" target="_blank"><i class="bi bi-instagram"></i> Instagram</a></p>
        <p><a href="https://www.facebook.com/sportsguideplus" target="_blank"><i class="bi bi-facebook"></i> Facebook</a></p>
        <p><a href="https://www.tiktok.com/@sportsguideplus" target="_blank"><i class="bi bi-tiktok"></i> TikTok</a></p>
      </apan>
      
    
</div>
{% endblock %}
